body, h1, h2, h3, form, input {
    margin: 0;
    padding: 0;
}


.page {
    padding: 20px;
    font-family: $font-main;
}


@media screen and (max-width: 600px) {
    
    .page {
        padding: 0; 
        font-size: 14px;
    }
}