.todo {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    background-color: $color-gray;
    box-shadow: 4px 4px 0 rgba($color: #000000, $alpha: 0.4);
    &__modal {
        position: absolute;
        z-index: 999;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__header {
        position: relative;
        z-index: 2;
        height: 50px;
        text-align: center;
    }
    &__title {
        position: relative;
        z-index: 11;
        font-size: 36px;
        line-height: 50px;
        font-weight: normal;
        background-color: $color-main;
        user-select: none;
    }
    &__settings {
        position: absolute;
        z-index: 10;
        left: 50%;
        bottom: 0;
        width: 75%;
        transform: translate(-50%, -10%);
        transition: transform 0.3s ease-in;
    }
    &__settings--active {
        transform: translate(-50%, 100%);
    }
    &__body {
        padding: 20px;
    }
    &__progress {
        display: block;
        width: 100%;
        height: 25px;
        margin-top: 20px;
        border: none;
        appearance: none;
        box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.25);
        // transition: height 0.2s ease-in;
        &::-webkit-progress-bar {
            background-color: $color-gray-light;
            border-radius: 0;
        }
        &::-moz-progress-bar {
            background-color: $color-main;
            background-image: -moz-linear-gradient(to left, $color-main, $color-second);
            border-radius: 0;
        }
        &::-webkit-progress-value {
            background-image: linear-gradient(to left, $color-main, $color-second);
            transition: all 0.3s linear;
        }
        &::-moz-progress-value {
            transition: width 0.3s linear;
        }
    }
    &__progress--hidden {
        height: 0;
        margin: 0;
    }
}


@media screen and (max-width: 600px) {
    
    .todo {
        box-shadow: none;
        &__title {
            font-size: 30px;
        }
        &__settings {
            width: 90%;
        }
        &__body {
            padding: 10px 5px;
        }
    }
}