body, h1, h2, h3, form, input {
  margin: 0;
  padding: 0;
}

.page {
  padding: 20px;
  font-family: "Roboto Mono", monospace;
}

.todo {
  max-width: 600px;
  margin: 0 auto;
  background-color: #e2e2e2;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.todo__header {
  position: relative;
  z-index: 2;
  height: 50px;
  text-align: center;
}

.todo__title {
  position: relative;
  z-index: 11;
  font-size: 36px;
  line-height: 50px;
  font-weight: normal;
  background-color: #2fb6cf;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.todo__settings {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0;
  width: 75%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.todo__settings--active {
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.todo__body {
  padding: 20px;
}

.todo__progress {
  display: block;
  width: 100%;
  height: 25px;
  margin-top: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

.todo__progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 0;
}

.todo__progress::-moz-progress-bar {
  background-color: #2fb6cf;
  background-image: -moz-linear-gradient(to left, #2fb6cf, #5ebe7f);
  border-radius: 0;
}

.todo__progress::-webkit-progress-value {
  background-image: -webkit-gradient(linear, right top, left top, from(#2fb6cf), to(#5ebe7f));
  background-image: linear-gradient(to left, #2fb6cf, #5ebe7f);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.todo__progress::-moz-progress-value {
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.settings {
  background-color: rgba(129, 211, 227, 0.9);
  border: 3px solid #2fb6cf;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.settings__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.settings__title {
  line-height: 25px;
}

.settings__label {
  position: relative;
  display: block;
  width: 50%;
  margin: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.settings__check {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}

.settings__check:focus + .settings__check-fake {
  outline: auto 5px -webkit-focus-ring-color;
}

.settings__check:active:enabled + .settings__check-fake::before {
  background-color: #e6e6e6;
}

.settings__check:checked + .settings__check-fake {
  background-color: #2fb6cf;
}

.settings__check:checked + .settings__check-fake::before {
  -webkit-transform: translateY(-50%) translateX(20px);
          transform: translateY(-50%) translateX(20px);
}

.settings__check:disabled + .settings__check-fake {
  opacity: 0.7;
}

.settings__check:disabled ~ .settings__title {
  text-decoration: line-through;
  opacity: 0.7;
}

.settings__check-fake {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #e2e2e2;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  vertical-align: text-top;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.settings__check-fake::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.settings-toggle {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../image/settings.svg");
  border: 0;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.3s linear;
  transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.3s linear;
  transition: box-shadow 0.2s ease-in, transform 0.3s linear;
  transition: box-shadow 0.2s ease-in, transform 0.3s linear, -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.3s linear;
  cursor: pointer;
  outline: none;
}

.settings-toggle:focus {
  -webkit-box-shadow: 0 0 5px rgba(48, 48, 48, 0.7);
          box-shadow: 0 0 5px rgba(48, 48, 48, 0.7);
}

.settings-toggle--active {
  -webkit-transform: translateY(-50%) translateX(100%) rotate(180deg);
          transform: translateY(-50%) translateX(100%) rotate(180deg);
}

.task {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 0.2s ease-in, margin 0.3s linear, -webkit-filter 0.2s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.2s ease-in, margin 0.3s linear, -webkit-filter 0.2s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.2s ease-in, filter 0.2s ease-in, transform 0.3s ease-in, margin 0.3s linear;
  transition: opacity 0.2s ease-in, filter 0.2s ease-in, transform 0.3s ease-in, margin 0.3s linear, -webkit-filter 0.2s ease-in, -webkit-transform 0.3s ease-in;
}

.task:not(:last-child) {
  margin-bottom: 15px;
}

.task:first-child {
  margin-bottom: 25px;
}

.task__date {
  position: absolute;
  z-index: 1;
  top: -14px;
  left: 46px;
  padding: 0 3px;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #5ebe7f;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.task__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 6px;
  padding: 8px;
  font-size: inherit;
  background-color: #eeeeee;
  border: 3px solid #2fb6cf;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: width 0.2s linear, -webkit-box-shadow 0.2s ease-in;
  transition: width 0.2s linear, -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, width 0.2s linear;
  transition: box-shadow 0.2s ease-in, width 0.2s linear, -webkit-box-shadow 0.2s ease-in;
  -webkit-appearance: none;
}

.task__input::-webkit-input-placeholder {
  font-size: inherit;
}

.task__input:-ms-input-placeholder {
  font-size: inherit;
}

.task__input::-ms-input-placeholder {
  font-size: inherit;
}

.task__input::placeholder {
  font-size: inherit;
}

.task__input:focus {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.task__input--price {
  display: none;
  max-width: 70px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.task__button {
  width: 40px;
  height: 40px;
  background-color: #2fb6cf;
  background-image: url("../image/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  cursor: pointer;
}

.task__button:active {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.task__button--closing {
  background-image: url("../image/close-icon.svg");
}

.task__check {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}

.task__check:focus + .task__check-fake {
  outline: auto 5px -webkit-focus-ring-color;
}

.task__check:active + .task__check-fake {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.task__check:checked + .task__check-fake {
  background-image: url("../image/check-icon.svg");
}

.task__check-fake {
  position: relative;
  display: block;
  margin-right: 6px;
  background-image: url("../image/uncheck-icon.svg");
}

.task--invalid {
  -webkit-animation: invalid 0.3s forwards ease-in;
          animation: invalid 0.3s forwards ease-in;
}

.task--completed {
  text-decoration: line-through;
  opacity: 0.7;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
}

.task--removed {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.task--hidden {
  position: absolute;
  width: 0;
  height: 0;
  clip: rect(1px 1px 1px 1px);
  visibility: hidden;
}

.task--theme-second .task__input {
  border-color: #5ebe7f;
}

.task--theme-second .task__button {
  background-color: #5ebe7f;
}

.task--date-active:not(:last-child) {
  margin-bottom: 30px;
}

@-webkit-keyframes invalid {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes invalid {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 0;
    font-size: 14px;
  }
  .todo {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .todo__settings {
    width: 90%;
  }
  .todo__body {
    padding: 5px;
  }
  .settings__form {
    text-align: center;
  }
  .settings__title {
    vertical-align: middle;
  }
  .settings__check-fake {
    display: block;
    margin: 0 auto;
  }
  .task {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .task:not(:last-child) {
    margin-bottom: 10px;
  }
  .task__date {
    left: 36px;
  }
  .task__input {
    width: 100%;
    padding: 4px;
    border-width: 2px;
  }
  .task__input--price {
    max-width: 55px;
  }
  .task__button {
    width: 30px;
    height: 30px;
    background-size: 70%;
  }
  .task--date-active:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .settings-toggle {
    width: 25px;
    height: 25px;
    left: 5px;
  }
}
/*# sourceMappingURL=style.css.map */